# file: ~/.gitignore_global
dir_to_ignore/
.DS_Store
.idea*
desktop.ini

##############################
# vscode gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
##############################
